<% provide :title, "Users" %>

<h1>Users</h1>

<div class="col-md-4">
  <%= will_paginate %>
  <%= render partial: "user",
             collection: @users,
             locals: { users_index: true } %>
  <%= will_paginate %>
</div>
