<div id="post_form">
  <%= form_for @post, url: root_path do |f| %>
    <div>
      <%= f.text_area :content, placeholder: "Compose new post...",
                                class: "form-control" %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>