@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* debugging */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

body {
  padding-top: 60px;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  letter-spacing: -2px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form_control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

#cancel {
  margin-top: 30px;
}

.field-info {
  font-weight: normal;
  font-style: italic;
}

.datetime_select {
  select:first-child {
    margin-left: 0px;
  }
  input, select {
    margin-left: 3px;
    display: inline-block;
    width: 32%;
  }
}

/* users index */

li.users_index {
  list-style: none;
  border-top: 1px solid #f0f0f0;
  span {
    &:first-child {
      a {
        color: black;
      }
    }
    display: block;
    &:last-child {
      margin-bottom: 3px;
    }
  }
}

/* users sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
  }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
}
